body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    /* background: linear-gradient(to right, #6a9cae, rgb(18, 237, 237));
     */
    background: url('https://media.istockphoto.com/id/513226416/photo/night-sky-simple-abstract.webp?a=1&b=1&s=612x612&w=0&k=20&c=4FSJbcd7gxYwuBISGrabQOsUn-cBh9agyAls1VJMmKg=') no-repeat center center fixed;
   
    /* background: url('https://images.unsplash.com/photo-1579003593419-98f949b9398f?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8d2VhdGhlcnxlbnwwfHwwfHx8MA%3D%3D') no-repeat center center fixed; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* color: #fff; */

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background: linear-gradient(to right, aqua,purple);
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.2);
  }
  
  .weather-card {
    margin-top: 20px;
    background: linear-gradient(to right, aqua,purple);
    padding: 20px;
    border-radius: 10px;
    text-align: left;
  }
  
  input[type="text"] {
    padding: 10px;
    width: 70%;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
  }
  
  button {
    padding: 10px 15px;
    background-color:blue;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #5fb2e9;
  }
  
  /* .weather-card {
    margin-top: 20px;
    background-color:linear-gradient( #ff7e5f, #feb47b);
    padding: 20px;
    border-radius: 10px;
    text-align: left;
  } */
  